@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  font-family: Montserrat, sans-serif;
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
}
.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.cssbackground {
  padding: 65px 0px 10px 0px;
}
.cssbackground__name {
  margin: 0px 0px 47px 0px;
  position: relative;
}
@media (max-width: 767.98px) {
  .cssbackground__name {
    text-align: center;
    margin: 0px 0px 27px 0px;
  }
}
.cssbackground__name-bg {
  position: absolute;
  top: -40px;
  left: -25px;
  height: 100%;
  z-index: -2;
}
.cssbackground__title {
  max-width: 655px;
}
.cssbackground__block-title {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 767.98px) {
  .cssbackground__block-title {
    text-align: center;
  }
}
.cssbackground__block-list {
  margin: 0px 0px 20px 0px;
}
.cssbackground__block-descr {
  margin: 0px 0px 22px 0px;
}
@media (max-width: 479.98px) {
  .cssbackground__block-descr {
    margin: 0px 0px 15px 0px;
  }
}
.cssbackground__block-subtitle {
  margin: 0px 0px 22px 0px;
}
@media (max-width: 767.98px) {
  .cssbackground__block-subtitle {
    text-align: center;
  }
}
.cssbackground__middle-block {
  margin: 0px 0px 56px 0px;
}
@media (max-width: 767.98px) {
  .cssbackground__middle-block {
    margin: 0px 0px 20px 0px;
  }
}
.cssbackground__sector {
  margin: 0px 0px 20px 0px;
}
.sector-block {
  padding: 15px 22px 16px 20px;
  -webkit-box-shadow: 0 4px 42px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 42px rgba(0, 0, 0, 0.05);
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.sector-block__tabs {
  display: none;
  margin: 25px 0px 0px 0px;
}

.spoller {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1182px) {
  .spoller__text {
    max-width: 840px;
  }
}
@media (max-width: 991.98px) {
  .spoller__text {
    max-width: 620px;
  }
}
.spoller__title {
  margin: 0px 0px 8px 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.spoller__title span {
  margin: 0px 5px 0px 5px;
}
@media (max-width: 767.98px) {
  .spoller__title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 479.98px) {
  .spoller__title {
    font-size: 17px;
    line-height: 21px;
  }
}
.spoller__subtitle {
  max-width: 950px;
  font-size: 18px;
  line-height: 21px;
  color: #6c6c6c;
}
@media (max-width: 767.98px) {
  .spoller__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 479.98px) {
  .spoller__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
.spoller__subtitle_first {
  margin: 0px 0px 10px 0px;
}
.spoller__icons {
  margin: 0px 0px 0px 15px;
}
.spoller__icon-cross {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.spoller__icon-cross.active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 767.98px) {
  .spoller__icon-cross {
    width: 21px;
    height: 21px;
  }
}

.nav-sector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .nav-sector {
    display: block;
  }
}
.nav-sector__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  color: #ffffff;
  background-color: #536c73;
  padding: 0px 22px;
  border: 1px solid #f3ca6d;
  text-align: center;
  cursor: pointer;
  height: 46px;
  line-height: 16px;
}
.nav-sector__item small {
  display: block;
}
.nav-sector__item.active {
  background-color: #f3ca6d;
  color: #333333;
}
@media (max-width: 991.98px) {
  .nav-sector__item {
    padding: 0px 9px;
  }
}

.tab__navitem_big {
  height: 58px;
}
@media (max-width: 1182px) {
  .tab__navitem_big {
    height: 74px;
  }
}
.tab__navitem_big-2 {
  height: 68px;
}
@media (max-width: 1182px) {
  .tab__navitem_big-2 {
    height: 88px;
  }
}

.block-item-block__value {
  padding: 15px;
  height: 350px;
  overflow: auto;
  font-size: 16px;
  line-height: 24px;
  -webkit-overflow-scrolling: touch;
}
.block-item-block__value span {
  font-size: 18px;
  line-height: 21px;
  color: #6c6c6c;
}
.block-list li {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  line-height: 22px;
  position: relative;
  padding: 0px 0px 0px 15px;
}
.block-list li:before {
  content: "";
  background-color: #18adb5;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 50%;
}

.block-item__label {
  margin: 0px 0px 15px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.block-item__or {
  margin: 15px 0px 15px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.block-item__text {
  margin: 0px 0px 20px 0px;
  max-width: 95%;
  font-size: 18px;
  line-height: 21px;
  color: #6c6c6c;
}
@media (max-width: 479.98px) {
  .block-item__text {
    font-size: 15px;
    line-height: 18px;
  }
}
.block-item__link {
  text-decoration: underline;
  color: #18adb5;
  word-wrap: break-word;
}

.code-item {
  padding: 16px 20px 19px 20px;
  background: #f7f6d8;
}
@media (max-width: 479.98px) {
  .code-item {
    padding: 16px 10px 19px 10px;
  }
}
.code-item__main {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 479.98px) {
  .code-item__main {
    font-size: 16px;
  }
}
.code-item__descr {
  display: block;
  padding: 0px 0px 0px 15px;
  color: #6c6c6c;
  font-size: 18px;
  line-height: 21px;
  word-wrap: break-word;
}
@media (max-width: 479.98px) {
  .code-item__descr {
    font-size: 15px;
    line-height: 18px;
  }
}
.code-item__descr small {
  font-size: 12px;
}
.code-item__descr b {
  padding: 0px 5px;
  background-color: #fff;
  font-weight: normal;
}
.code-item__descr i {
  padding: 0px 5px;
}
.code-item small {
  font-style: italic;
  color: gray;
}

.transitions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.transitions-spoller.itprofessions-list-item {
  margin: 0px 0px 15px 0px;
  border: none;
}

.transitions-spoller-body.itprofessions-sublist {
  font-size: 20px;
  border: none;
}

.transitions-spoller__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -10px;
}
@media (max-width: 1170px) {
  .transitions-spoller__row {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .transitions-spoller__row {
    margin: 0px -15px;
  }
}
.transitions-spoller__column {
  padding: 0px 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
@media (max-width: 1170px) {
  .transitions-spoller__column:first-child {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 767.98px) {
  .transitions-spoller__column:last-child {
    padding: 0;
  }
}
.transitions-spoller__image img {
  max-width: 100%;
}
.transitions-spoller__info {
  font-size: 12px;
}

.transitions-spoller-table {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  border-collapse: collapse;
  border: 2px solid #536c73;
}
.transitions-spoller-table th {
  color: #fff;
  background-color: #536c73;
  padding: 10px;
  text-align: left;
}
.transitions-spoller-table td {
  border: 1px solid #536c73;
  background-color: #f3ca6d;
  padding: 10px;
}

.transitions-spoller-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px 15px;
  font-size: 16px;
  line-height: 22px;
  color: #6c6c6c;
}
@media (max-width: 767.98px) {
  .transitions-spoller-list {
    font-size: 14px;
    line-height: 19px;
  }
}
.transitions-spoller-list li {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  margin: 0px 0px 10px 0px;
  position: relative;
  padding: 0px 0px 0px 15px;
}
.transitions-spoller-list li:before {
  content: "";
  background-color: #18adb5;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .transitions-spoller-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }
}
@media (max-width: 767.98px) {
  .transitions-spoller-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 0px 0px 5px 0px;
  }
}
@media (max-width: 479.98px) {
  .transitions-spoller-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.position {
  max-width: 700px;
  margin: 0px auto;
  height: 800px;
  background-color: #eee;
}

.position__label {
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 0px 10px 0px;
}

.position-block {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 27px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767.98px) {
  .position-block {
    font-size: 16px;
  }
}
@media (max-width: 479.98px) {
  .position-block {
    font-size: 14px;
  }
}

.position-block--1 {
  height: 80px;
  line-height: 80px;
  background-color: #f3ca6d;
}

.position-block--2 {
  height: 80px;
  line-height: 80px;
  background-color: #536c73;
}

.position-block--3 {
  height: 80px;
  line-height: 80px;
  background-color: #18adb5;
}

.transform {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.transform__wrapper {
  width: 150px;
  height: 150px;
  background-color: rgba(24, 181, 165, 0.2);
}
.transform__block {
  width: 100%;
  height: 100%;
  background-color: #18adb5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.flexbox-block__row {
  border: 10px solid #f3ca6d;
}
.flexbox-block__element {
  border: 5px solid #536c73;
}
.flexbox-block__item_p {
  background-color: #18adb5;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}
@media (max-width: 767.98px) {
  .flexbox-block__item_p {
    padding: 10px;
    font-size: 20px;
  }
}
.flexbox-block__item {
  background-color: #18adb5;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}
@media (max-width: 767.98px) {
  .flexbox-block__item {
    padding: 10px;
    font-size: 20px;
  }
}

.grid {
  background-color: #eee;
}

.grid__item {
  background-color: #536c73;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 1px dashed #f3ca6d;
}

.css-units {
  background-color: #333;
  color: #fff;
}
.css-units pre {
  font-family: inherit;
  -moz-tab-size: 30px;
  -o-tab-size: 30px;
  tab-size: 30px;
  font-size: 18px;
}
.css-units pre code {
  padding: 15px;
  line-height: 140%;
  overflow: auto;
  background-color: #333;
}
.css-units pre .value {
  line-height: 120%;
  font-size: 22px;
}
.css-units pre .attribute {
  color: #b38ed6;
}
.css-units .main-header {
  margin: 0px 0px 30px 0px;
}
.css-units .main-header__title {
  font-size: 30px;
  margin: 0px 0px 15px 0px;
  color: #a989c7;
  font-weight: 700;
}
.css-units .main-header__text {
  line-height: 130%;
}
.css-units .main-header__text p:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.css-units .main-header__text span {
  color: #93b482;
  font-weight: 700;
}
.css-units .lesson:not(:last-child) {
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #4d4d4d;
}
.css-units .lesson__title {
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.css-units .lesson__title span {
  color: #93b482;
  font-weight: 700;
}
.css-units .lesson__text {
  line-height: 130%;
  font-size: 16px;
}
.css-units .lesson__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.css-units .lesson__text p:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.css-units .lesson__text ul:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.css-units .lesson__text ul li:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.css-units .example {
  margin: 0px 0px 30px 0px;
}
.css-units .example__label {
  font-size: 18px;
  line-height: 130%;
}
.css-units .example__label span {
  color: #9d81b8;
  font-size: 16px;
}
.css-units .example__body {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #2c2c2c;
  background-color: #474646;
}
.css-units .example__text {
  font-size: 16px;
  line-height: 130%;
}
.css-units .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}
.css-units .compare__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.css-units .compare__title {
  font-size: 18px;
  color: #93b482;
  margin: 0px 0px 15px 0px;
}
.css-units .compare__title_red {
  color: #a0695b;
}
.css-units .compare__text {
  line-height: 130%;
  font-size: 16px;
}
.css-units .text {
  margin: 0px 0px 15px 0px;
  background-color: #575656;
  padding: 15px;
}
.css-units .text__inner {
  margin: 15px 0;
  background-color: #464444;
  padding: 15px;
}
.css-units .text__inner-inner {
  margin: 15px 0;
  background-color: #686868;
  padding: 15px;
}
.css-units .text__inner-inner-inner {
  margin: 15px 0 0px 0;
  background-color: #3d3d3d;
  padding: 15px;
}
.css-units .text span {
  color: #95b883;
}
.css-units .text sup {
  margin: 0px 0px 0px 5px;
}
.css-units .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow: auto;
  padding: 0px 0px 20px 0px;
}
.css-units .blocks__info {
  line-height: 130%;
}
.css-units .blocks__info:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.css-units .blocks__wrapper {
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0px 0px 10px 0px;
}
.css-units .block {
  background-color: #7a956b;
  line-height: 130%;
}
.css-units .block:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.css-units .em-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.css-units .em-example__label {
  color: #7a956b;
  font-weight: 700;
  font-size: 26px;
}
.css-units .em-example__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.content {
  padding: 30px 30px 50px 30px;
}
@media (max-width: 767.98px) {
  .content {
    padding: 15px 15px 25px 15px;
  }
}
@media (max-width: 479.98px) {
  .content {
    padding: 15px 15px 10px 15px;
  }
}

.title span {
  position: relative;
  font-size: 36px;
  line-height: 43px;
  color: #1d1d1f;
  font-weight: 700;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#f3ca6d),
      to(#f3ca6d)
    )
    0 30px/100% 8px repeat-x;
  background: -o-linear-gradient(left, #f3ca6d, #f3ca6d) 0 30px/100% 8px
    repeat-x;
  background: linear-gradient(90deg, #f3ca6d, #f3ca6d) 0 30px/100% 8px repeat-x;
}
@media (max-width: 479.98px) {
  .title span {
    font-size: 28px;
    line-height: 32px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f3ca6d),
        to(#f3ca6d)
      )
      0 23px/100% 6px repeat-x;
    background: -o-linear-gradient(left, #f3ca6d, #f3ca6d) 0 23px/100% 6px
      repeat-x;
    background: linear-gradient(90deg, #f3ca6d, #f3ca6d) 0 23px/100% 6px
      repeat-x;
  }
}

.block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.block-descr {
  max-width: 800px;
  font-size: 18px;
  line-height: 21px;
  color: #6c6c6c;
}
@media (max-width: 767.98px) {
  .block-descr {
    font-size: 16px;
  }
}
.block-descr code {
  background-color: rgba(220, 220, 220, 0.4);
  border-radius: 2px;
  padding: 0 2px;
}

.block-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  color: #18adb5;
}
@media (max-width: 767.98px) {
  .block-link {
    font-size: 16px;
  }
}

.block-subtitle span {
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1f;
  font-weight: 600;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#f3ca6d),
      to(#f3ca6d)
    )
    0 19px/100% 8px repeat-x;
  background: -o-linear-gradient(left, #f3ca6d, #f3ca6d) 0 19px/100% 8px
    repeat-x;
  background: linear-gradient(90deg, #f3ca6d, #f3ca6d) 0 19px/100% 8px repeat-x;
}
@media (max-width: 767.98px) {
  .block-subtitle span {
    font-size: 20px;
    line-height: 22px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f3ca6d),
        to(#f3ca6d)
      )
      0 15px/100% 6px repeat-x;
    background: -o-linear-gradient(left, #f3ca6d, #f3ca6d) 0 15px/100% 6px
      repeat-x;
    background: linear-gradient(90deg, #f3ca6d, #f3ca6d) 0 15px/100% 6px
      repeat-x;
  }
}

footer {
  text-align: center;
}

.author-name {
  color: #18adb5;
}
